body {
    background-color: rgb(240, 37, 33);
    margin-right: 20%;
    margin-left: 20%;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(175, 13, 35);
    padding-left: 10px;
    padding-right: 10px;
}
h1 {
    text-align: center;
    border-bottom-width: 2.5px;
    border-bottom-style: dashed;
    border-bottom-color: rgb(125, 3, 5);
    padding-bottom: 10px;
}
img {
    border-radius: 38%;
    border-width: 3px;
    border-style: solid;
    border-color:rgb(105, 105, 105);
    display: block;
    margin-left: 37.25%;
    margin-right: 37.25%;
}
p {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}